@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';

body{
    background-color: #121212;
}

.header{
    width: 100%;
    height:100px;
    position: absolute;
}

.logo{
    width: 80px;
    z-index: 10;
    display: block;
    margin: 0 auto;
}

.point{
    width: 16px;
    margin-top: 40px;
}

.section{
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr;
    
}

.section--colors{
    background-color: #10F98C;
}

.section--main{
    height: 60vh;
    background: linear-gradient(0deg, rgba(16,249,140,1) 0%, rgba(0,0,0,1) 100%);
}

.wave{
    position: absolute;
    bottom: 40vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg{
        position: relative;
        display: block;
        width: calc(144% + 1.3px);
        height: 165px;
    }

    .shape-fill{
        fill: #121212;
    }
}

.wave--circle {
    bottom: 0;
    position: relative;
    width: 100vw;
    top: 65px;

    svg {
        position: relative;
        display: block;
        width: calc(300% + 1.3px);
        height: 95px;
    }

    .shape-fill {
        fill: #10F98C;
    }
}

.wave--end {
    position: relative;
    bottom: 0;
    width: 100vw;
    transform: rotate(0deg);

    svg{
        position: relative;
        display: block;
        width: calc(141% + 1.3px);
        height: 157px;
    }

    .shape-fill{
        fill: #121212;
    }
}



 

.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    object-fit: cover;

}

.video_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;

    background: linear-gradient(0deg, rgba(16,249,140,1) 0%, rgba(0,0,0,1) 100%);
    mix-blend-mode: overlay;
}


.title{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: #262626;
    display: block;
    font-size: 48px;
    line-height: 1;
    white-space: pre-line;
}

.title--end{
    font-size: 64px;

    span{
        color: #5500BE;
    }
}

.title--main{
    color: white;
    z-index: 10;
    position: relative;
    font-size: 64px;
    

    span{
        color: #5500BE;
        white-space: pre-line;
    }
}

.title--colors{
    font-size: 64px;
    z-index: 10;

    span{
        color: #5500BE;
        white-space: pre-line;
    }
}

.title--medium{
    white-space: pre-line;
    color: white;

    span{
        color: #10F98C;
    }
}

.texte{
    font-family: 'Dosis', sans-serif;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
    color: white;

    span{
        color: #10F98C;
        text-transform: uppercase;
    }
}

.texte--medium{
    color: #121212;
    font-weight: 500;
}


.dgrid-start1{
    grid-column-start: 1;
}
.dgrid-start2{
    grid-column-start: 2;
}
.dgrid-start3{
    grid-column-start: 3;
}
.dgrid-end-1{
    grid-column-end: -1;
}
.dgrid-end1{
    grid-column-end: 1;
}
.dgrid-end2{
    grid-column-end: 2;
}
.dgrid-end3{
    grid-column-end: 3;
}

.blocImage{
    width: 100vw;
    height: 250px;
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image--mockup{
    height: 250px;
    width: initial;
}

.image--end{
    width: 125px;
    margin-top: 55px;
}

.wavySection{
    width: 100vw;
    height: 100%;
    fill: #10F98C;
    display: block;
    position: relative;
    bottom: -1px;
}

.etape{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backgroundCircle{
    height: 200px;
    width: 200px;
    display: flex;
    position: relative;
    background-color: #10F98C;
    border-radius: 100px;
    top: -175px;
    margin: 0 auto;
    z-index: -1;
}

.Getapp{
    display: flex;
}

.image--app{
    width: 100px;
    height: 100px;
}