@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';

body{
    background-color: #121212;
    overflow-x:  hidden;
}

.header{
    width: 100%;
    height:100px;
    position: absolute;
}

/* SECTIONS */
.section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 100px;

    &--colors{
        background-color: #10F98C;
    }
    
    &--main{
        height: 60vh;
        background: linear-gradient(0deg, rgba(16,249,140,1) 0%, rgba(0,0,0,1) 100%);
    }

    &--guitare{
        background-image: url(../assets/images/guitare2.png);
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: bottom left;
    }

    

}

.logoLink{
    display: block;
    z-index: 10;
    margin: 0 auto;
}


/* TITRES */
.title{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: #121212;
    display: block;
    font-size: 48px;
    line-height: 1;
    white-space: pre-line;
    margin-top: 88px;

    padding: 0 6vw;

    &--end{
        font-size: 64px;

        span{
            color: #5500BE;
        }
    }

    &--main{
        color: white;
        z-index: 10;
        position: relative;
        font-size: 64px;
        margin-top: 145px;
        padding: 6vw;
    

        span{
            color: #5500BE;
            white-space: pre-line;
        }
    }

    &--colors{
        font-size: 64px;
        z-index: 10;

        span{
            color: #5500BE;
            white-space: pre-line;
        }
    }

    &--medium{
        white-space: pre-line;
        color: white;

        span{
            color: #10F98C;
        }
    }

    &--small{
        margin-top: 48px;
        margin: 40px auto;
    }
}


/* PARAGRAPHES */
.texte{
    font-family: 'Hind', sans-serif;
    line-height: 1.4;
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 0 6vw;
    margin-bottom: 32px;
    margin-top: 32px;

    span{
        font-weight: 600;
        text-transform: uppercase;
    }

    &--medium{
        color: #121212;
        font-weight: 500;
        
    }

    &--guitare{
        margin-bottom: 30vw;
    }
}



/* IMAGES */
.logo{
    width: 80px;
    z-index: 10;
    display: block;
    margin-top: 2vw;
}

.point{
    width: 16px;
    margin-top: 40px;
    margin: 40px auto;
    
}

.wave{
    position: absolute;
    bottom: 39.9vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    svg{
        position: relative;
        display: block;
        width: calc(144% + 1.3px);
        height: 165px;
    }

    .shape-fill{
        fill: #121212;
    }

    &--circle{
        bottom: 0;
        position: relative;
        width: 100vw;
        top: 165px;

        svg {
            position: relative;
            display: block;
            width: calc(300% + 1.3px);
            height: 95px;
        }

        .shape-fill {
            fill: #10F98C;
        }
    }

    &--end{
        position: relative;
        bottom: 2px;
        width: 100vw;
        transform: rotate(0deg);

        svg{
            position: relative;
            display: block;
            width: calc(141% + 1.3px);
            height: 157px;
        }

        .shape-fill{
            fill: #121212;
        }
    }


}


.video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    object-fit: cover;

    &--overlay{
        background: linear-gradient(0deg, rgba(16,249,140,1) 0%, rgba(0,0,0,1) 100%);
        mix-blend-mode: overlay;
    }
}


.blocImage{
    width: 100vw;
    height: 100%
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--mockup{
        height: 400px;
        width: initial;
        margin: 0 auto;
    }

    &--mockup2{
        height: 67vw;
        margin: 0 auto;
        width: initial;
    }

    &--end{
        height: 40vw;
        padding: 0 6vw;
        width: initial;
        position: relative;
        top: 100px; 
    }

    &--app{
        width: 30vw;
        padding: 0 6vw;
        object-fit: contain;
    }

    &--casestudy{
        padding: 0 6vw;
    }
}

.wavySection{
    width: 100vw;
    height: 100%;
    fill: #10F98C;
    display: block;
    position: relative;
    bottom: -101px;
}

.etape{
    display: flex;
    flex-direction: column;
}

.Getapp{
    display: flex;
    gap: 15px;
    padding: 0 6vw;
    justify-content: center;
}


.backgroundCircle{
    height: 200px;
    width: 200px;
    display: flex;
    position: relative;
    background-color: #10F98C;
    border-radius: 100px;
    top: -175px;
    margin: 0 auto;
    z-index: -1;
}

/* LISTES */
.footer{
    width: 100%;
    height: 160px;
    margin-top: 64px;
    background-color: #121212;
    color: white;
    bottom: 0;

    &__list{
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 16px;
    }

    &__el{
        align-items: center;
        text-align: center;
        list-style: none;
        font-size: 16px;
        
    
        a{
            text-decoration: none;
            color: white;
            padding: 0;
        }
    }

    &__pics{
        height: 30px;
    }
}


/* LIENS */
a{
    padding:  0 25px;
}

.links{
    text-decoration: underline;
    text-decoration-color: #5500BE;
    text-decoration-thickness: 3px;
    color: #121212;
    font-size: 20px;
    font-weight: 600;
    align-items: initial;
    padding: 0 6vw;
    

    &:hover{
        color: #5500BE;
    }

    &--white{
        color: white;
    }
}


/* MENU */

/* GRILLES */
.mgrid-start1{
    grid-column-start: 1;
}
.mgrid-start2{
    grid-column-start: 2;
}
.mgrid-start3{
    grid-column-start: 3;
}
.mgrid-end-1{
    grid-column-end: -1;
}
.mgrid-end1{
    grid-column-end: 1;
}
.mgrid-end2{
    grid-column-end: 2;
}
.mgrid-end3{
    grid-column-end: 3;
}

@media screen and (min-width: 700px){


    
    
    /* SECTIONS */
    .section{
        padding-bottom: 100px;

        &--main{
            height: 70vh;
        }
    }

    /* TITRES */
    .title{
        font-size: 96px;
        margin-top: 150px;
        padding: 0 8vw;
    
        &--end{
            font-size: 128px;
            margin-top: 120px;
        }
    
        &--main{
            font-size: 128px;
            padding: 8vw;
        }
    
        &--colors{
            font-size: 128px;
            margin-top: 50px;
        }

    }
    
    
    /* PARAGRAPHES */
    .texte{
        font-size: 20px;
        padding: 0 8vw;
        margin-bottom: 64px;
        margin-top: 64px;

        &--guitare{
            margin-bottom: 32vw;
        }

        &--medium{
            padding: 0 20vw;
        }
        
    }
    
    
    
    /* IMAGES */
    .logo{
        width: 120px;
    }
    
    .point{
        width: 20px;
    }
    
    .wave{
        bottom: 29.9vh;

        &--end{
            bottom: 2px;
        }
    }
    
    
    .video{
        height: 70%;
    }
    
    .image{
    
        &--mockup{
            height: 625px;
        }
    
        &--mockup2{
            height: 460px;
            position: relative;
            right: 8px;
        }

        &--end{
            height: 60vw;
            width: initial;
            right: 8vw;
            padding: 0;
        }
    
        &--app{
            height: 50px;
        }

        &--casestudy{
            padding: 0 8vw;
        }
    }
    
    .wavySection{
        bottom: -131px;
    }
    
    .Getapp{
        gap: 0;
        flex-direction: row;
        padding: 0 8vw;
    }
    
    
    .backgroundCircle{
        height: 400px;
        width: 400px;
        border-radius: 200px;
        top: -340px;
    }
    
    /* LISTES */
    .footer{
    
        &__list{
            gap: 20px;
        }
    
        &__el{
            font-size: 20px;
        }
    
        &__pics{
            height: 40px;
        }
    }
    
    
    /* LIENS */
    a{
        padding:  0 50px;
    }
    
    .links{
        text-decoration-thickness: 5px;
        font-size: 24px;
        padding: 0 8vw;
        margin: 0 auto;

        &--white{
            margin: 0;
        }
    }
    

}



@media screen and (min-width: 1200px){


    
    
    /* SECTIONS */
    .section{
        padding-bottom: 150px;

        &--main{
            height: 100vh;
        }

        &--guitare{
            background-image: url(../assets/images/guitare-rotate.png);
            background-repeat: no-repeat;
            background-size: 45vw;
            background-position: right;
            background-position-y: initial;
        }
    }

    /* TITRES */
    .title{
        font-size: 128px;
        margin-top: 150px;
        padding: 0 10vw;
    
        &--end{
            font-size: 192px;
            margin-top: 120px;
        }
    
        &--main{
            font-size: 192px;
            padding: 10vw;
        }
    
        &--colors{
            font-size: 192px;
            margin-top: 75px;
        }
    }
    
    
    /* PARAGRAPHES */
    .texte{
        font-size: 24px;
        padding: 0 10vw;

        &--medium{
            padding: 0 25vw;
        }

        &--up{
            position: relative;
            bottom: 25vw;
        }
        
    }
    
    
    
    /* IMAGES */
    .logo{
        width: 150px;
    }
    
    
    .wave{
        bottom: -1px;

        &--end{
            bottom: 2px;
        }

        &--circle{
            top: 215px
        }
    }
    
    
    .video{
        height: 100vh;
    }
    
    .image{
    
        &--mockup{
            height: 1000px;
        }
    
        &--mockup2{
            height: 65vw;
            position: relative;
            right: 8px;
        }

        &--end{
            width: initial;
            right: 7vw;
            height: 42vw;
        }
    
        &--app{
            height: 5vw;
            object-fit: contain;
            width: initial
        }

        &--guitare{
            transform: rotate(-90deg);
        }

        &--casestudy{
            padding: 0 10vw;
        }
    }
    
    .wavySection{
        bottom: -162px;
    }
    
    .Getapp{
        flex-direction: row;
        padding: 0 10vw;
        justify-content: center;
    }
    
    
    .backgroundCircle{
        height: 50vw;
        width: 50vw;
        border-radius: 50%;
        top: -42vw;
    }
    
    /* LISTES */
    .footer{
    
        &__list{
            gap: 24px;
        }
    
        &__el{
            font-size: 24px;
        }
    
        &__pics{
            height: 50px;
        }
    }
    

    
    .links{
        text-decoration-thickness: 8px;
        font-size: 40px;
        margin: 0 auto;
    }

    /* GRILLES */

    .dgrid-start1{
        grid-column-start: 1;
    }
    .dgrid-start2{
        grid-column-start: 2;
    }
    .dgrid-start3{
        grid-column-start: 3;
    }
    .dgrid-start4{
        grid-column-start: 4;
    }
    
    .dgrid-end-1{
        grid-column-end: -1;
    }
    .dgrid-end1{
        grid-column-end: 1;
    }
    .dgrid-end2{
        grid-column-end: 2;
    }
    .dgrid-end3{
        grid-column-end: 3;
    }
    .dgrid-end4{
        grid-column-end: 4;
    }
      

}
    
    

